.overlay {
  position: fixed;
  // display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background: #f2f2f2;
  padding: 38px 40px 40px 40px;
  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: $main-color;
    cursor: pointer;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #0d0d0d;
  }
  &__descr {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #0d0d0d;
  }
  &_mini {
    min-height: 140px;
  }
}
/* #consultation*/
#order,
#thanks {
  display: none;
}
@media (max-width: 600px) {
  .modal {
    width: 300px;
    padding: 38px 0px 40px 0px;
    &__subtitle,
    &__descr {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
@media (max-width: 430px) {
  .modal {
    &__close {
      top: 5px;
      left: 5px;
    }
  }
}
